version: 2
updates:
  - package-ecosystem: "npm"
    # Look for `package.json` and `lock` files in the `root` directory
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 2
    commit-message:
      prefix: "[skip ci]"
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 2
    commit-message:
      prefix: "[skip ci]"