*.class
*.rpm
tmp
*.DS_Store
*.swp
*.out
*.lock

*.ipr
*.iws
*.iml
*.jps
*.jps.analysis
.idea/
.env
bin
dist
.gradle/
build/
target/
data/bus
data/tram
data/all
data/gtdf-out
data/*.zip

TEST-*.xml
database/scripts/
conf/current.props
intelij/
/out
/package
/*.db
*.version
log/
manchester_trams.dot
node_modules/
test_network.dot
testData/gtdf-out/
testData/output/
data/codepo_gb/
.envrc
*.dot
*.gradle~
*.png
.cdk.staging
cdk.out
store_lock
logs/
databases/
**/.vscode/*
summaryOfRouteAndServices.txt
