how
*.class
*.rpm
tmp
*.DS_Store
*.swp
*.out
*.lock

*.ipr
*.iws
*.iml
*.jps
*.jps.analysis
.idea/
.env
bin
dist
.gradle/
build/
data/

TEST-*.xml
database/scripts/
conf/current.props
intelij/
/out
/package
/*.db
*.version
log/
manchester_trams.dot
node_modules/
test_network.dot
testData/gtdf-out/
testData/output/
