*.DS_Store
*.swp
.idea/
.gradle/
bin
build
out
node_modules
logs/
databases/
data/bus
data/tram
data/all
data/trains
data/naptan
data/postcodes
data/cache**/
testData/cache/
*.db
.envrc
*.dot
*.png
.cdk.staging
cdk.out
store_lock
**/.vscode/*
summaryOfRouteAndServices.txt
