<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calling Frequencies</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <h1 class="tramchesterHeading w-75">Stop Freqency Map</h1>
    <div id="frequencymap" class="tramchesterApp w-75">
            <b-container>
                <b-row>
                    <b-col cols="8">
                        <div id="leafletMap"></div>                        
                    </b-col>
                    <b-col>
                        <div class="mb-2">Hours:
                            <vue-slider v-model="hours" min="0" max="23" :enable-cross="false"></vue-slider>
                        </div>
                        <b-row > 
                            <b-col class="mb-2">
                                <b-input-group>
                                    <b-form-datepicker id="date" v-model="date" 
                                        :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }" 
                                        label-calendar="TravelDateCalendar" required></b-form-datepicker>
                                    <b-input-group-append>
                                        <b-button id="todayButton" variant="info" @click="dateToNow()">Today</b-button>
                                    </b-input-group-append>
                                </b-input-group>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col>
                                <b-button id="drawMap" variant="primary" @click="draw()">Draw</b-button>  
                            </b-col>
                        </b-row>

                    </b-col>
                </b-row>
            </b-container>

    </div>

    <app-footer v-bind:feedinfo="feedinfo" v-bind:havepos="havePos" v-on:network-error="networkErrorOccured()">
    </app-footer>


<script src="/app/frequency.js"></script>

</body>
</html>