<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div id="journeyplan" class="tramchesterApp">
            <b-form @submit="plan" class="w-75 tramchesterApp">
                <div id="selectStart">
                    <b-form-select id="fromStop" v-model="startStop" class="mb-3" required>
                        <option :value="null" disabled>Please select start</option>
                        <optgroup v-for="group in proximityGroups" :label="group.name" :name="group.name" :id="'fromGroup' + group.name">
                            <option class="stop" v-for="stop in stops" v-if="stop.proximityGroup.name==group.name" :value="stop.id">{{stop.name}}</option>
                        </optgroup>
                    </b-form-select>
                </div>
                <div id="selectEnd">
                    <b-form-select id="toStop" v-model="endStop" class="mb-3" required>
                        <option :value="null" disabled>Please select destination</option>
                        <optgroup v-for="group in endProximityGroups" :label="group.name" :name="group.name" :id="'toGroup' + group.name">
                            <option class="stop" v-for="stop in endStops" v-if="stop.proximityGroup.name==group.name" :value="stop.id">{{stop.name}}</option>
                        </optgroup>
                    </b-form-select>
                </div>
                <b-form-group label="Time" label-cols-lg="1" label-for="selectTime">
                    <b-input-group>
                        <b-form-input id="time" v-model="time" type="time" required></b-form-input>
                        <b-input-group-append>
                            <b-button id="nowButton" variant="info" @click="timeToNow()">Now</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>
                <b-form-group label="Date" label-cols-lg="1" label-for="selectTime">
                    <b-input-group>
                        <b-form-input id="date" v-model="date" type="date" required></b-form-input>
                        <b-input-group-append>
                            <b-button id="todayButton" variant="info" @click="dateToNow()">Today</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>

                <b-button :disabled='!ready' id="plan" type="submit" variant="light">
                    Find Trams
                    <b-spinner v-if="searchInProgress" id="spinner" small type="grow" ref="planSpinner"></b-spinner>
                </b-button>
            </b-form>

            <div id="networkError" selectable v-if="networkError" class="w-75 tramchesterApp">
                <b-card bg-variant="danger" text-variant="white">
                    Unable to commmunicate with server
                </b-card>
            </div>

            <div class="mt-3 ml-3 mr-3">

                <b-card bg-variant="light" v-if="notes.length>0"
                        title="Notes"
                        title-tag="h5"
                        class="mb-2">
                    <b-card-text>
                        <ul id="NotesList" class="JourneyNotes list-group list-group-flush">
                            <li v-for="note in notes" id="NoteItem">
                                <span v-html="note"></span>
                            </li>
                        </ul>
                    </b-card-text>
                </b-card>

                <b-table id="results"
                               selectable v-if="journeys.length>0"
                               :items="journeys" :small=true
                               :fields="journeyFields"
                               select-mode='single'
                               @row-clicked="expandStages" tbody-tr-class='journeySummary'>
                        <template v-slot:row-details="row">
                            <b-card>
                                <b-table :items="row.item.stages" :fields="stageFields"
                                         id="stages"
                                         tbody-tr-class='stageSummary' :small="true">
                                </b-table>
                            </b-card>
                        </template>
                </b-table>
            </div>

            <div id="noResults" selectable v-if="noResults" class="w-75 tramchesterApp">
                <b-card bg-variant="light" >
                    No results were found
                </b-card>
            </div>

            <div id="footer" class="tramchesterFooter mb-3 ml-3 mr-3">
                <b-card bg-variant="light" >
                    <div>
                        Built by <a href="http://www.thoughtworks.com">ThoughtWorks</a> in Manchester
                        <a href="https://twitter.com/intent/user?screen_name=Tramchester">Follow @Tramchester</a>
                    </div>
                    <div id="disclaimer">© 2016-2019 ThoughtWorks Ltd.<b-button
                            id="disclaimerButton"
                            class="align-baseline text-decoration-none" variant="link"
                            v-b-modal.modal-disclaimer>Disclaimer</b-button></div>

                    <div id="license">
                        Contains Transport for Greater Manchester data.
                        Contains public sector information licensed under the Open Government Licence v2.0 by
                        <a href="http://www.datagm.org.uk/" target="_blank">Data GM.</a>

                    </div>
                    <b-container class="bv-example-row">
                        <b-row>
                            <b-col>Build <div id="buildNumber">{{buildNumber}}</div></b-col>
                            <b-col>From: <div id="validFrom">{{feedinfo.validFrom}}</div></b-col>
                            <b-col>Until: <div id="validUntil">{{feedinfo.validUntil}}</div></b-col>
                            <b-col>Geolocation: <div id="havePos">{{havePos}}</div></b-col>
                        </b-row>
                    </b-container>
                </b-card>

            </div>

            <b-modal ok-only id="modal-disclaimer" title="Disclaimer">
                <div>
                    <p>Whilst every effort has been made to ensure that the contents of this website are correct,
                        ThoughtWorks does not guarantee and makes no warranty, express or implied, as to
                        the quality, accuracy, completeness, timeliness, appropriateness, or suitability of the
                        information we provide on this website.</p>

                    <p>ThoughtWorks also takes no responsibility for the accuracy of information contained on
                        external sources linked to this site.</p>

                    <p>ThoughtWorks assumes no obligation to update the information and the information may
                        be changed from time to time without notice.</p>

                    <p>To the extent permitted by law ThoughtWorks expressly disclaims all liability for any direct,
                        indirect or consequential loss or damage occasioned from the use or inability to use this
                        websites, whether directly or indirectly resulting from inaccuracies, defects, viruses, errors -
                        whether typographical or otherwise, omissions, out of date information or otherwise.</p>

                    <p>Accessing and using the website and the downloading of material from the site (if
                        applicable) is done entirely at the user's own risk. The user will be entirely responsible for
                        any resulting damage to software or computer systems and/or any resulting loss of data.</p>
                </div>
            </b-modal>

            <b-modal ok-only id="modal-cookieConsent" title="Welcome" ok-title="I Agree"
                     @ok="setCookie()" ref="cookieModal" no-close-on-backdrop no-close-on-esc hide-header-close>
                <div id="welcome" class="tramchesterApp w-75">
                    <p>Welcome to Tramchester, a quick and easy way to plan your travel in Manchester by Metrolink tram.</p>

                    <p>Tramchester uses <b>cookies</b> to store information in your browser about previous usages and recent journeys.</p>
                </div>
            </b-modal>

        </div> <!-- end of app -->

        <script src="/app/dist/main.js"></script>

    </body>

</html>
