<!DOCTYPE html>
<html lang="en">
<head title="tramchester">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<h1 class="tramchesterHeading w-75">Tramchester</h1>
<div id="journeyplan" class="tramchesterApp">
    <b-form @submit="plan" class="w-75 tramchesterApp">
        <b-container id="startAndEnd">
            <b-row align-h="start">
                <b-col cols="11" class="pl-0">
                    <div id="selectStart">
                        <b-form-select id="fromStop" v-model="startStop" class="mb-2" required>
                            <option :value="null" disabled>Please select start</option>
                            <optgroup v-for="group in proximityGroups" :label="group.name" :name="group.name"
                                      :id="'fromGroup' + group.name">
                                <option class="stop" v-for="stop in filterStops(group)" :value="stop.id">{{stop.name}}
                                </option>
                            </optgroup>
                        </b-form-select>
                    </div>
                </b-col>
                <b-col cols="1"></b-col>
            </b-row>
            <b-row>
                <b-col cols="11" class="pl-0">
                    <div id="selectEnd">
                        <b-form-select id="toStop" v-model="endStop" class="mb-2" required>
                            <option :value="null" disabled>Please select destination</option>
                            <optgroup v-for="group in endProximityGroups" :label="group.name" :name="group.name"
                                      :id="'toGroup' + group.name">
                                <option class="stop" v-for="stop in filterEndStops(group)" :value="stop.id">
                                    {{stop.name}}
                                </option>
                            </optgroup>
                        </b-form-select>
                    </div>
                </b-col>
                <b-col cols="1" class="pl-0">
                    <b-button @click="swap">&#8645;</b-button>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="3" class="pl-0">
                    <b-form-checkbox id="arriveBy" size="sm" v-model="arriveBy">arrive by</b-form-checkbox>
                </b-col>
                <b-col cols="8">
                    <b-input-group class="mb-2">
                        <b-form-input id="time" v-model="time" type="time" required></b-form-input>
                        <b-input-group-append>
                            <b-button id="nowButton" variant="info" @click="timeToNow()">Now</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-col>
            </b-row>
            <b-row class="mb-2">
                <b-col cols="11" class="pl-0">
                    <b-input-group>
                        <b-form-input id="date" v-model="date" type="date" required></b-form-input>
                        <b-input-group-append>
                            <b-button id="todayButton" variant="info" @click="dateToNow()">Today</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-col>
            </b-row>
            <b-row class="mb-2" v-if="feedinfo.bus">
                <b-col cols="3" class="pl-0">
                    <b-form-group label="max changes" label-form="maxChanges">
                        <b-form-input min="0" max="8" type="number" id="maxChanges" size="sm" v-model="maxChanges"></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row align-h="start">
                <b-col cols="2" class="pl-0">
                    <b-button :disabled='!ready' id="plan" type="submit" variant="primary">
                        Plan
                        <b-spinner v-if="searchInProgress" id="spinner" small type="grow"></b-spinner>
                    </b-button>
                </b-col>
                <b-col cols="2">
                    <b-button :disabled='!havePos' id="liveTrams" variant="info" v-if="havePos" @click="queryNearbyTrams">
                        Nearby
                        <b-spinner v-if="liveInProgress" id="nearbySpinner" small type="grow"></b-spinner>
                    </b-button>
                </b-col>
            </b-row>
        </b-container>
    </b-form>

    <div id="networkError" selectable v-if="networkError" class="w-75 tramchesterApp">
        <b-card bg-variant="danger" text-variant="white">
            Unable to commmunicate with server
        </b-card>
    </div>


    <div id="outputs" class="mt-3 ml-1 mr-1">
        <notes v-bind:journeysresponse="journeyResponse"></notes>
        <live-departures v-bind:livedataresponse="liveDepartureResponse"></live-departures>
        <journeys v-bind:journeysresponse="journeyResponse" v-on:earlier-tram="changeTime" v-on:later-tram="changeTime"></journeys>
    </div>


    <app-footer v-bind:feedinfo="feedinfo" v-bind:havepos="havePos" v-on:network-error="networkErrorOccured()"></app-footer>

    <b-modal ok-only id="modal-disclaimer" title="Disclaimer">
        <div>
            <p>Whilst every effort has been made to ensure that the contents of this website are correct,
                ThoughtWorks does not guarantee and makes no warranty, express or implied, as to
                the quality, accuracy, completeness, timeliness, appropriateness, or suitability of the
                information we provide on this website.</p>

            <p>ThoughtWorks also takes no responsibility for the accuracy of information contained on
                external sources linked to this site.</p>

            <p>ThoughtWorks assumes no obligation to update the information and the information may
                be changed from time to time without notice.</p>

            <p>To the extent permitted by law ThoughtWorks expressly disclaims all liability for any direct,
                indirect or consequential loss or damage occasioned from the use or inability to use this
                websites, whether directly or indirectly resulting from inaccuracies, defects, viruses, errors -
                whether typographical or otherwise, omissions, out of date information or otherwise.</p>

            <p>Accessing and using the website and the downloading of material from the site (if
                applicable) is done entirely at the user's own risk. The user will be entirely responsible for
                any resulting damage to software or computer systems and/or any resulting loss of data.</p>
        </div>
    </b-modal>

    <b-modal ok-only id="modal-cookieConsent" title="Welcome" ok-title="I Agree"
             @ok="setCookie()" ref="cookieModal" no-close-on-backdrop no-close-on-esc hide-header-close>
        <div id="welcome" class="tramchesterApp w-75">
            <p>Welcome to Tramchester, a quick and easy way to plan your travel in Manchester by Metrolink tram.</p>

            <p>Tramchester uses <b>cookies</b> to store information in your browser about previous usages and recent
                journeys.</p>
        </div>
    </b-modal>

</div> <!-- end of app -->

<script src="/app/dist/main.js"></script>

</body>

</html>
