<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

        <!-- Load polyfills to support older browsers -->
        <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

        <!-- Load Vue followed by BootstrapVue -->
        <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

        <link href="index.css" rel="stylesheet">

        <script src="https://unpkg.com/axios/dist/axios.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
        <script src="javascript/lib/moment.min.js"></script>
    </head>
    <body>

        <div id="journeyplan">
            <b-card bg-variant="light">
                <div id="selectStart">
                    <b-form-select v-model="startStop" class="mb-3">
                        <option :value="null" disabled>Please select start</option>
                        <optgroup v-for="group in proxGroups" :label="group.name">
                            <option v-for="stop in startStops" v-if="stop.proximityGroup.name==group.name" :value="stop.id">{{stop.name}}</option>
                        </optgroup>
                    </b-form-select>
                </div>
                <div id="selectEnd">
                    <b-form-select v-model="endStop" class="mb-3">
                        <option :value="null" disabled>Please select destination</option>
                        <optgroup v-for="group in proxGroups" :label="group.name">
                            <option v-for="stop in endStops" v-if="stop.proximityGroup.name==group.name" :value="stop.id">{{stop.name}}</option>
                        </optgroup>
                    </b-form-select>
                </div>
                <b-form-group id="time" label="Time" label-cols-lg="1">
                    <div id="selectTime">
                        <b-form-input v-model="time" type="time"></b-form-input>
                    </div>
                </b-form-group>

                <b-form-group id="date" label="Date" label-cols-lg="1">
                    <div id="selectDate">
                        <b-form-input v-model="date" placeholder="Choose a date" type="date"></b-form-input>
                    </div>
                </b-form-group>

                <div id="submit">
                    <button @click="plan()">Find Trams</button>
                </div>
            </b-card>

            <div id="results">
                <div>
                    <b-table
                            striped
                            hover
                            selectable
                            :items="journeys"
                            :fields="journeyFields"
                            select-mode='single'
                            @row-clicked="expandStages"
                    >
                        <template slot="row-details" slot-scope="row">
                            <b-card>
                                <b-table :items="currentJourneyStages" :fields="stageFields">
                                </b-table>
                            </b-card>
                        </template>
                    </b-table>
                </div>
            </div>

        </div>

        <script src="/app/javascript/journeyplan.js"></script>
    </body>
</html>
