
.tramchesterApp {
    margin: auto;
    margin-top: 25px;
}

.tramchesterFooter {
    margin-top: 10px;
    font-size: 12px;
}

.tramchesterHeading {
    margin: auto;
    text-align: center;
    font-family: Arial;
    border-top: 2px solid black;
    border-bottom: 2px solid #191c1f;
}

.liveDepartures {
    text-align: center;
    font-weight:bold;
    color: black;

}

.suggestedRoutes {
    text-align: center;
    font-weight:bold;
    color: black;
}

.RouteConnection {
    /* TBD */
}

.RouteClassWalk  {
    visibility: hidden;
}

.JourneyNotes {
    list-style-type:circle;
}

.Closures {
    list-style-type:circle;
}

/* NOTE: Dont set line width here as leaflet will silently fail to update it */

/* Altincham to/from Bury NO LONGER IN USE, LOCKDOWN */
.RouteClassGreenLine  {
    background-color: #308c2c;
    stroke: #308c2c;
    color: white;
}

/* Altrincham to/from Piccadilly */
.RouteClassPurpleLine  {
    background-color: #690170;
    stroke: #690170;
    color: white;
}

/* Ashton-under-Lyne to/from Eccles */
.RouteClassBlueLine  {
    background-color: #43bdee;
    stroke: #43bdee;
    color: white;
}

/* Bury to/from Piccadilly */
.RouteClassYellowLine  {
    background-color: #edb700;
    stroke: #edb700;
    color: white;
}

/* E Didsbury to/from Rochdale */
.RouteClassPinkLine  {
    background-color: #ee87b4;
    stroke: #ee87b4;
    color: white;
}

/* Manchester Airport tp/from Victoria */
.RouteClassNavyLine  {
    background-color: #0066b1;
    stroke: #0066b1;
    color: white;
}

/* Cornbrook from The Trafford Centre */
.RouteClassRedLine  {
    background-color: #de0000;
    stroke: #de0000;
    color: white;
}

/* Buses */
.RouteClassBus  {
    background-color: darkred;
    stroke: darkred;
    color: white;
}

.RouteClassTrain  {
    background-color: darkblue;
    stroke: darkblue;
    color: white;
}

.walkingHeadSign {
    visibility: hidden;
}

.trainHeadSign {
    font-style: italic;
}

#leafletMap {
  height: 400px;
  width: 400px;
}

.station-icon {
    border-radius:50%;
    border: 1px solid lightcoral;
}


