
.tramchesterApp {
    margin: auto;
    margin-top: 25px;
}

.tramchesterFooter {
    margin-top: 15px;
}

.RouteWalking  {
    /* nothing yet */
}

.JourneyNotes {
    list-style-type:circle;
}

.RouteClass1  {
    background-color: #308c2c;
    stroke: #308c2c;
    color: white;
}

.RouteClass2  {
    background-color: #781f82;
    stroke: #781f82;
    color: white;
}

.RouteClass3  {
    background-color: #58c6f1;
    stroke: #58c6f1;
    color: white;
}

.RouteClass4  {
    background-color: #eebb01;
    stroke: #eebb01;
    color: white;
}

.RouteClass5  {
    background-color: #aab304;
    stroke: #aab304;
    color: white;
}

.RouteClass6  {
    background-color: #0069b3;
    stroke: #0069b3;
    color: white;
}

.RouteClass7  {
    background-color: #f18801;
    stroke: #0069b3;
    color: white;
}
