
.tramchesterApp {
    margin: auto;
    margin-top: 25px;
}

.tramchesterFooter {
    margin-top: 10px;
    font-size: 12px;
}

.tramchesterHeading {
    margin: auto;
    text-align: center;
    font-family: Arial;
    border-top: 2px solid black;
    border-bottom: 2px solid #191c1f;
}

.liveDepartures {
    text-align: center;
    font-weight:bold;
    color: black;

}

.suggestedRoutes {
    text-align: center;
    font-weight:bold;
    color: black;
}

.HideWalkingHeadSign {
    visibility: hidden;
}

.RouteWalking  {
    /* nothing yet */
}

.JourneyNotes {
    list-style-type:circle;
}

/* Altincham to/from Bury */
.RouteClass1  {
    background-color: #308c2c;
    stroke: #308c2c;
    color: white;
}

/* Altrincham to/from Piccadilly */
.RouteClass2  {
    background-color: #690170;
    stroke: #690170;
    color: white;
}

/* Ashton-under-Lyne to/from Eccles */
.RouteClass3  {
    background-color: #43bdee;
    stroke: #43bdee;
    color: white;
}

/* Bury to/from Piccadilly */
.RouteClass4  {
    background-color: #edb700;
    stroke: #edb700;
    color: white;
}

/* E Didsbury to/from Rochdale */
.RouteClass5  {
    background-color: #ee87b4;
    stroke: #ee87b4;
    color: white;
}

/* Manchester Airport tp/from Victoria */
.RouteClass6  {
    background-color: #0066b1;
    stroke: #0066b1;
    color: white;
}

/* Cornbrook from intu Trafford Centre */
.RouteClass7  {
    background-color: #de0000;
    stroke: #de0000;
    color: white;
}

/* Buses */
.RouteClassBus  {
    background-color: darkred;
    stroke: darkred;
    color: white;
    stroke-width: 1;
}

#leafletMap {
  height: 800px;
  width: 800px;
}

.station-icon {
    border-radius:50%;
    border: 1px solid lightcoral;
}

.postcode-icon {
    background-color: blue;
    /* border-radius:50%;
    border: 1px solid blue; */
}

.tram-icon {
    border-radius:50%;
    background: yellow;
    border: 1px inset inherit;
}

