<div class="navbar tcr-navbar">
    <div class="container">
        <a class="navbar-button" href="/#/"><span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <h5 class="navbar-title StudioNeon">Tramchester</h5>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-">
            <h4>Disclaimer</h4>

            <p>Whilst every effort has been made to ensure that the contents of this website are correct,
                ThoughtWorks does not guarantee and makes no warranty, express or implied, as to
                the quality, accuracy, completeness, timeliness, appropriateness, or suitability of the
                information we provide on this website.</P>

            <p>ThoughtWorks also takes no responsibility for the accuracy of information contained on
                external sources linked to this site.</P>

            <p>ThoughtWorks assumes no obligation to update the information and the information may
                be changed from time to time without notice.</P>

            <p>To the extent permitted by law ThoughtWorks expressly disclaims all liability for any direct,
                indirect or consequential loss or damage occasioned from the use or inability to use this
                websites, whether directly or indirectly resulting from inaccuracies, defects, viruses, errors -
                whether typographical or otherwise, omissions, out of date information or otherwise.</P>

            <p>Accessing and using the website and the downloading of material from the site (if
                applicable) is done entirely at the user's own risk. The user will be entirely responsible for
                any resulting damage to software or computer systems and/or any resulting loss of data.</P>
            <br/>
        </div>
    </div>
</div>
<div class="navbar tcr-navbar">
    <div class="container">
        <a class="navbar-button" href="/#/"><span class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </div>
</div>
