<div class="navbar tcr-navbar">
    <div class="container">
        <a id="backToRouteDetails" class="navbar-button" ng-click="goBack(journey)"><span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <h5 class="navbar-title">Directions</h5>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-" ng-hide='!journey.stages.length'>
            <button class="btn btn-default btn-sm pull-left" ng-click="previousTram()"
                    ng-disabled="disablePreviousTram"><span class="glyphicon glyphicon-chevron-left"></span></button>
            <button class="btn btn-default btn-sm pull-right" ng-click="nextTram(journey)" ng-disabled="disableNextTram"><span
                    class="glyphicon glyphicon-chevron-right"></span></button>
            <h4 id="journeyHeader" class="heading">{{journey.stages[0].serviceTimes[serviceTimeIndex].departureTime}}
                from
                {{journey.begin.name}}</h4>
            <div ng-repeat="stage in journey.stages ">
                <div class="panel {{stage.displayClass}}">
                    <div id="stageSummary{{$index}}" class="panel-heading">{{stage.summary}}</div>
                    <!-- List group -->
                    <div class="list-group">
                        <a ng-click="showMap(stage)" class="list-group-item">
                            <h4>
                                <div id="stagePrompt{{$index}}">{{stage.prompt}} <strong>{{stage.firstStation.name}}</strong>
                                <span ng-class-odd="'glyphicon glyphicon-chevron-right pull-right'"
                                    ng-class-even="'glyphicon glyphicon-map-marker pull-right'"></span>
                                </div>
                            </h4>
                        </a>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-show="stage.isAVehicle">
                            <div id="stageInstruction{{$index}}">
                            <strong>{{stage.serviceTimes[serviceTimeIndex].departureTime}}</strong> Catch
                            {{stage.serviceTimes[serviceTimeIndex].headSign}} {{stage.mode}}
                            </div>
                        </li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-time pull-right"></span>
                            <div id="stageDuration{{$index}}">Duration <strong>{{stage.duration}} min</strong></div>
                        </li>
                        <li class="list-group-item" ng-show="stage.isAVehicle">
                            <div id="stageArrive{{$index}}">
                            <strong>{{stage.serviceTimes[serviceTimeIndex].arrivalTime}}</strong> Arrive at {{stage.lastStation.name}}</div>
                        </li>
                    </ul>
                </div>
                <div ng-if="!$last" class="tcr-change" >
                    <div id="change{{$index}}">
                        <span class="glyphicon glyphicon-random"></span>
                        <span class="trc-change-text" ng-show="stage.isAVehicle">Change {{stage.mode}}</span>
                    </div>
                </div>
            </div>
            <p><a id="newJourney" href="/#/routePlanner" class="btn btn-default btn-lg btn-block">Plan New Journey</a></p>
        </div>
    </div>
</div>
<ng-include src="'templates/footer.html'"></ng-include>
