<div class="navbar tcr-navbar">
    <div class="container">
        <a class="navbar-button" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <h5 class="navbar-title">Select Route</h5>
    </div>
</div>
<div class="panel news ng-class:newsHidden" ng-show="closure.closed">
    <div class="panel-heading news">Important Notice</div>
    <div class="list-group">
        <p>
            {{closure.message}} For more info check the <a href="http://www.metrolink.co.uk/Pages/default.aspx"
                                                           target="_blank">Metrolink Home page.</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div ng-show="NoRoutes">
            Unable to find any routes for the journey, this may be due to station closures.
        </div>
        <div class="col-12 col-sm-12 col-lg-" ng-hide="NoRoutes">
            <div ng-show="!journeyPlan.journeys.length" class="text-center">
                <img src="images/loader.gif" class="medium-loading"/>
            </div>
            <div ng-repeat="journey in journeyPlan.journeys" ng-click="showJourneyDetails($index)">
                <div class="panel {{journey.stages[0].displayClass}}" id="journeyPanel{{$index}}">
                    <div class="panel-heading" id="journeyHeading{{$index}}">{{journey.stages[0].route}} {{journey.stages[0].mode}} Line</div>
                    <!-- List group -->
                    <div class="list-group">
                        <a ng-click="showJourneyDetails($index)" class="list-group-item" id="journeyBegin{{$index}}">
                            <strong>{{journey.firstDepartureTime}}</strong> from <strong>{{journey.stages[0].beginStop.name}}</strong>
                            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                        </a></div>
                    <ul class="list-group" id="journeySummary{{$index}}">
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-random pull-right"></span>
                            {{journey.summary}}
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item" id="journeyEnd{{$index}}">
                            <strong>{{journey.expectedArrivalTime}}</strong> Arrive at <strong>{{journey.stages[journey.stages.length
                            - 1].endStop.name}}</strong>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-include src="'templates/footer.html'"></ng-include>
