<div class="tcr-splash">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm- col-lg-">
                <div class="jumbotron">
                    <h1>Tramchester</h1>

                    <p>Welcome to Tramchester, a quick and easy way to plan your travel in Manchester by tram.</p>

                    <p><a href="/#/routePlanner" id="plan" class="btn btn-default btn-lg btn-block">Find Nearest Trams</a></p>

                </div>
            </div>
        </div>
    </div>
    <ng-include src="'templates/footer.html'"></ng-include>
</div>
