<div class="tcr-splash">
    <div data-ng-controller="SplashController" data-ng-init="init()"></div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm- col-lg-">
                <div class="jumbotron">
                    <h1>Tramchester</h1>

                    <p>Welcome to Tramchester, a quick and easy way to plan your travel in Manchester by Metrolink tram</p>

                    <p><a href="/#/routePlanner" id="planJourney" class="btn btn-default btn-lg btn-block" ng-click="setCookie()">Plan Journey</a></p>

                    <p>Tramchester uses cookies to store information in your browser about previous usages and recent
                        journeys. Please click Plan Journey if you agree to this usage</p>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="'templates/footer.html'"></ng-include>
</div>
