server:
  applicationContextPath: /
  rootPath: /api/*
  applicationConnectors:
    - type: http
      port: 8080
  adminContextPath: /admin
  adminConnectors:
    - type: http
      port: 8081
  gzip:
    enabled: true
    bufferSize: 8KiB
    minimumEntitySize: 160B

secureHost: tramchester.com
staticAssetCacheTimeSeconds: 300
graphDBConfig:
  graphName: databases/all.db
  neo4jPagecacheMemory: 1500m
stationClosures: []
instanceDataUrl: http://169.254.169.254
gtfsSourceConfig:
  -
    name: tfgm
    dataPath: data/bus
    hasFeedInfo: true
    transportModes: [ tram, bus ]
    transportModesWithPlatforms: [ Tram ]
    noServices: []
    additionalInterchanges: [9400ZZMAGMX, 9400ZZMAPIC]
    compositeStationModes: [ Bus ]
rail:
  dataPath: data/rail
  stations: ttisf236.msn
  timetable: ttisf236.mca
  modes: [ Train, RailReplacementBus ]
remoteSources:
  - name: tfgm
    dataURL: ${TRAM_DATAURL:- http://odata.tfgm.com/opendata/downloads/TfGMgtfsnew.zip}
    dataCheckURL: http://odata.tfgm.com/opendata/downloads/TfGMgtfsnew.zip
    dataPath: data/bus
    filename: tfgm_data.zip
  - name: rail
    dataURL: s3://tramchester2dist/railData/ttis236.zip
    dataCheckURL: s3://tramchester2dist/railData/ttis236.zip
    dataPath: data/rail
    filename: ttis236.zip
  - name: naptanxml
    dataURL: https://naptan.api.dft.gov.uk/v1/access-nodes?dataFormat=xml
    dataCheckURL: ""
    dataPath: data/naptan
    filename: Stops.xml
  - name: nptg
    dataURL: http://www.dft.gov.uk/nptg/snapshot/nptgcsv.zip
    dataCheckURL: ""
    dataPath: data/nptg
    filename: nptgcsv.zip
cacheFolder: data/cacheAll
calcTimeoutMillis: 3500
bounds:
  minEastings: 333211
  minNorthings: 373264
  maxEasting: 414492
  maxNorthings: 437779
neighbourConfig:
  distanceToNeighboursKM: 0.2
  maxNeighbourConnections: 3
maxWait: 35
maxInitialWait: 45
numberQueries: 3
queryInterval: 20
maxWalkingConnections: 3
maxNumberResults: 5
maxJourneyDuration: 800
nearestStopRangeKM: 1
nearestStopForWalkingRangeKM: 1
numOfNearestStopsToOffer: 5
numOfNearestStopsForWalking: 50
walkingMPH: 3.0
recentStopsToShow: 5
dataExpiryThreadhold: 3
sendCloudWatchMetrics: true

changeAtInterchangeOnly: true

swagger:
  resourcePackage: com.tramchester.resources
  title: tramchester

logging:
  level: INFO

  appenders:
    - type: console
      threshold: WARN
    - type: syslog
      host: localhost
      port: 514
    - type: file
      currentLogFilename: logs/tramchester_all.log
      threshold: INFO
      archive: true
      archivedLogFilenamePattern: logs/tramchester_all-%d.log
      archivedFileCount: 5
      timeZone: UTC
