server:
  type: simple
  applicationContextPath: /
  rootPath: /api/*
  adminContextPath: /admin
  connector:
    type: http
    port: 8080

secureHost: tramchester.com

graphName: databases/tramchesterAcceptance.db
neo4jPagecacheMemory: 100m
stationClosures: []
dataSources:
  -
    name: tfgm
    URL: ${TRAM_DATAURL:- http://odata.tfgm.com/opendata/downloads/TfGMgtfs.zip}
    checkURL: http://odata.tfgm.com/opendata/downloads/TfGMgtfs.zip
    dataPath: data/tram
    unzipPath: gtdf-out
    hasFeedInfo: true
    transportModes: [ tram ]
bounds:
  minEastings: 333211
  minNorthings: 373264
  maxEasting: 414492
  maxNorthings: 437779
instanceDataUrl: http://169.254.169.254
liveDataUrl: https://api.tfgm.com/odata/Metrolinks
liveDataSubscriptionKey: ${TFGMAPIKEY:- ""}
liveDataS3Bucket: tramchesterlivedata
liveDataRefreshPeriodSeconds: 20
loadPostcodes: false
postcodeDataPath: data/codepo_gb/Data/CSV
postcodeZip: data/codepo_gb.zip
removeRouteNameSuffix: true
maxWait: 25
maxNumberResults: 5
maxJourneyDuration:  122
numberQueries: 3
queryInterval: 12
nearestStopRangeKM: 2
nearestStopForWalkingRangeKM: 2
numOfNearestStopsToOffer:  5
numOfNearestStopsForWalking:  3
walkingMPH: 3
recentStopsToShow: 5
dataExpiryThreadhold: 3
maxNumberMissingLiveMessages: 5
changeAtInterchangeOnly: true
createNeighbours: false
distanceToNeighboursKM: 1

swagger:
  resourcePackage: com.tramchester.resources
  title: tramchester

logging:
  level: INFO
  loggers:
    root: INFO
    com.tramchester: INFO
    org.eclipse.jetty.servlet: INFO
    io.dropwizard.jersey.jackson: INFO

  appenders:
    - type: console
      threshold: WARN
    - type: syslog
      host: localhost
      port: 514
    - type: file
      currentLogFilename: build/reports/tests/accept_tramchester.log
      threshold: INFO
      archive: true
      archivedLogFilenamePattern: build/reports/tests/accept_tramchester-%d.log
      archivedFileCount: 5
      timeZone: UTC
