server:
  type: simple
  applicationContextPath: /
  rootPath: /api/*
  adminContextPath: /admin
  connector:
    type: http
    port: 8080
  gzip:
    enabled: true
    bufferSize: 8KiB
    minimumEntitySize: 160B

redirectHTTP: ${REDIRECTHTTP:- false}
secureHost: tramchester.com

rebuildGraph: true
pullData: ${TRAM_PULLDATA:- true}
filterData: true
graphName: tramchester.db
closedStations: []
agencies:
  - MET
instanceDataUrl: http://169.254.169.254
awsRegionName: eu-west-1
tramDataUrl: ${TRAM_DATAURL:- http://odata.tfgm.com/opendata/downloads/TfGMgtfs.zip}
dataPath: data/tram
timeWindow: 60
maxWait: 25
queryInterval: 6
nearestStopRangeKM: 2
numOfNearestStops: 5
walkingMPH: 3
addWalkingRoutes: false
recentStopsToShow: 5
dataExpiryThreadhold: 3

createLocality: false

swagger:
  resourcePackage: com.tramchester.resources

logging:
  level: INFO

  appenders:
    - type: console
      threshold: WARN
    - type: syslog
      host: localhost
      port: 514
    - type: file
      currentLogFilename: log/tramchester.log
      threshold: INFO
      archive: true
      archivedLogFilenamePattern: log/tramchester-%d.log
      archivedFileCount: 5
      timeZone: UTC
