<div class="navbar tcr-navbar">
    <div class="container">
        <a class="navbar-button" href="/#/"><span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <h5 class="navbar-title StudioNeon">Tramchester</h5>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-">
            <h4>About this app</h4>

            <p>The goal for ThoughtWorks Manchester Tech Lab was to experiment with cutting edge open source technology
                while trying to deliver a product for the local community in 6 weeks.</p>

            <p>We used <a href="http://www.neo4j.org/" target="_blank">Neo4j Graph Database</a> to model the tram data
                provided from <a href="http://www.datagm.org.uk/" target="_blank">Data GM</a>.
                Graph databases are well-suited for the Travel and Transport Industry as they excel at mapping physical
                locations against the various ways that one might get people or things to and from those locations.
                Built-in graph algorithms enable extremely fast execution of common problems, such as “shortest-path”.
            </p>

            <p>Tramchester is now maintained by ThoughtWorks as <a href="https://github.com/ThoughtWorksInc/tramchester">opensource software</a></p>

            <p>
                Live data for the app comes from <a href="https://developer.tfgm.com/">TFGM</a> live data API.
            </p>

            <p>We used Amazon Cloud Infrastructure. The benefits of this is the low starting cost, elastic scalability
                and easy to set up.</p>

            <p>Continuous design and delivery was the backbone of this application. Using a mobile first response design
                approach, with lots of user involvement through out the process.</p>

            <p>Other technology involved:</p>
            <ul>
                <li>Java</li>
                <li>Angular JS</li>
                <li>Open street map</li>
            </ul>
            <p><a href="http://www.ThoughtWorks.com/" target="_blank">ThoughtWorks</a> is a software company and
                community of passionate individuals whose purpose is to revolutionise software
                design, creation and delivery, while advocating for positive social change.
            </p>

            <p><a href="/#/"><span class="glyphicon glyphicon-chevron-left"></span> Return to the app</a></p>
        </div>
    </div>
</div>
<ng-include src="'templates/footer.html'"></ng-include>

