
<script type="text/javascript">
    $('#map').css('width', $('#map-container').width());
    $('#map').css('height', (window.innerHeight / 3) * 2 - 80);
</script>

<!-- WORK IN PROGESS -->

<div class="navbar tcr-navbar">
    <div class="container">
        <a class="navbar-button" onclick="window.history.go(-1); return false;"><span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <h5 id="title" class="navbar-title">Network map</h5>
    </div>
</div>

<div class="container" id="map-container">
    <div id="map"></div>
    <div class="tcr-directions" id="narrative"></div>
</div>

<ng-include src="'templates/footer.html'"></ng-include>
